

#body {
    background-color:lightgray;
  }

#navbar {
  background-color: steelblue;
  padding: 10px;
  font-family: 'Questrial', sans-serif;
}

.navbar-brand {
  margin-left: 15px;
  height: 40px;
  width:50px;
}

#navbarLeft{
  color: white;
  font-size: 25px;
}

#navbarBtns {
  margin-left: 950px;

}

#button {
  background-color: slategrey;
  color: white;
  font-family: 'Questrial', sans-serif;
}

/* Style of ampersand */
.ampersand {
  margin-right: 10px;
}

/* 'Style of brand' */
.brand {
  font-family: 'Questrial', sans-serif;
  color:rgb(21, 9, 92);
  font-size: 25px;
  margin-right: 700px;
}

/* Frame around image */
.frame {
  float: left;
  width: 300px;
  height: 429px;
  border: 3px solid #6699cc;
  background: #6699cc;
  margin: 20px 15px 15px 150px;
  padding: 15px 10px;
}
img {
  float: left;
  width: 300px;
  height: 429px;
}

#aboutMeTitle {
  background-color: lightgray;
  font-size: 40px;
  margin-left: -25px;
  font-family: 'Questrial', sans-serif;
}

#aboutMe {
  background-color: lightgray;
  margin-top: -25px;
  font-family: 'Questrial', sans-serif;
}

#spotlightText{
  font-size: 50px;
  color: navy;
  text-align: center;
  margin-top: 60px;
  font-family: 'Merienda', cursive;
}

#slidePics{
  margin-right: 25px;
  margin-top: -20px;
}

#description {
  font-size: 16px;
  color: navy;
  line-height: 1.75em;
  font-family: 'Questrial', sans-serif;
}

.submit {
  background-color: slategray;
  color: white;
  font-family: 'Questrial', sans-serif;
}

#email, #name{
  margin-left: 10px;
  font-family: 'Questrial', sans-serif;
}

#icon {
  margin-left: 2px;
  margin-right: 5px;
}

#list {
  margin-left: 60px;
  font-family: 'Questrial', sans-serif;
  font-size: 20px;
}

.link, #name, #email, #message {
  color: steelblue;
  font-family: 'Questrial', sans-serif;
  font-size: 20px;
 }

 #icon {
   margin-right: 10px;
 }

#full-name, #email-address {
  width: 300px;
}

#message {
  width: 500px;
}

#submitBtn {
  background-color: slategray;
  color: white;
  font-family: 'Questrial', sans-serif;
  padding: 10px;
}

#footer, #footerContact {
  float: left;
  width: 100%;
  /* margin-top: 400px; */
  background-color: steelblue;
}

/* #footerContact {
  height: 20px;
  font-size: 10px;
  margin-left: -1450px;
  width: 1500px;
  margin-top: 400px;
  background-color: steelblue;
} */

#footerText {
  text-align: center;
  color: white;
  font-family: 'Questrial', sans-serif;
}